
@{
    ViewData["Title"] = "Actualizar";
    Layout = "_LayoutSGPI";
}

<h1>Actualizar</h1>
<br/>
<form action="" class="form-inline justify-content-center">

    <ul class="nav nav-pills" class="form">
        <li class="nav-item">
            <a class="nav-link  active " aria-current="page" href="#">Actualizar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Estudiante/Pagos">Pagos</a>
        </li>
    </ul>
</form>
<div class="container text-center">
    <div class="row align-items-start">
        <div class="col">
            <label>Tipo de Documento</label>
            <br />
            <select class="form-select col-sm-12" aria-label="Default select example">
                <option selected></option>
                <option value="1">Cedula de Ciudadania</option>
                <option value="2">Tarjeta de Extranjeria</option>
                <option value="3">Ninguno</option>
            </select>
            <br />
            <br/>
            <label>Nombre</label>
            <br />
            <input type="text" class="form-control col-sm-12" id="nombreusuariotxt" required />
            <br />
            <label>Apellidos</label>
            <br />
            <input type="text" class="form-control col-sm-12" id="apellidousuariotxt" required />
        </div>
        <div class="col">
            <label>Numero de Documento</label>
            <br />
            <input type="text" class="form-control col-sm-12" id="numerodocumentousuariotxt" required />
            <br />
            <label>Correo Electronico</label>
            <input type="text" class="form-control col-sm-12" id="correoelectronicousuariotxt" required />
            <label>Rol</label>
            <br />
            <select class="form-select col-sm-12" aria-label="Default select example">
                <option selected></option>
                <option value="1">Administrador</option>
                <option value="2">Coordinador</option>
                <option value="3">Estudiante</option>
            </select>

        </div>
        <div class="col">
            <label>Genero</label>
            <br />
            <select class="form-select col-sm-12" aria-label="Default select example">
                <option selected></option>
                <option value="1">Masculino</option>
                <option value="2">Femenino</option>
                <option value="3">Otros </option>
            </select>
            <br />
        </div>
        <div class="col">
            <label>Programas</label>
            <br />
            <select class="form-select col-sm-12" aria-label="Default select example">
                <option selected></option>
                <option value="1">Maestria en Gestion. TI</option>
                <option value="2">Especializacion. SI</option>
                <option value="3">Maestria en Medio Amb </option>
            </select>
            <br />
        </div>
    </div>
    <br />

    <a href="/Estudiante/Pagos"<button type="button" class="btn btn-primary">Modificar</button></a>

    <br />


</div>

