@model SGPI.Models.Pago
@{
    ViewData["Title"] = "Pagos";
    Layout = "_LayoutSGPI";
}

<h1>Pagos</h1>

<br />
<center>
    <form action="" class="form-inline justify-content-center">
        <ul class="nav nav-pills" class="form">
            <li class="nav-item">
                <a class="nav-link " href="#">Actualizar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active " aria-current="page" href="/Coordinador/Pagos">Pagos</a>
            </li>
        </ul>
    </form>
</center>
<form method="post">
    <br />
    <center>


        <table class="table" border="5">
            <tr>
               
                <td>Valor Pago</td>
                <td>Fecha pago</td>
                <td>opcion</td>

            </tr>

            <tr>
             
                <td><input asp-for="Valor" type="text" id="num" /></td>
                <td><input asp-for="Fecha" type="date" id="num" /></td>
                <td><input class="text-black" type="file" id="certificadotxt" required/>

            </tr>
        </table>
        @if(ViewBag.mensaje != null){
            <h1>@ViewBag.mensaje</h1>
        }

    </center>
   
    <br />
    <center>
        <a href="/Estudiante/Actualizar"><button type="submit" class="btn btn-primary">Modificar</button></a>
    </center>
    <center>
        <a href="/Administrador/Login">Cerrar sesion</a>
    </center>
</form>