
@{
    ViewData["Title"] = "Pagos";
    Layout = "_LayoutSGPI";
}

<h1>Pagos</h1>
<br/>
<center>
<form action="" class="form-inline justify-content-center">
        <ul class="nav nav-pills" class="form">
            <li class="nav-item">
                <a class="nav-link " href="#">Actualizar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active " aria-current="page" href="/Coordinador/Pagos">Pagos</a>
            </li>
         </ul>
</form>
</center>
<br/>
<br/>
<center>
<table border="5">
    <tr>
        <td>Numero de Pago </td>
        <td> Valor Pagado </td>
        <td> Fecha de Pago </td>
        <td>opcion</td>

    <tr>
            <td><input type="text" id="num"/> </td>
            <td><input type="text" id="num" /></td>
            <td><input type="date" id="num" /></td>
            <td> <button class="btn btn-link">Pago.pdf</button>
            
        </td>

    <tr>
</table>
</center>
<br/>
 <center>
    <a href="/Estudiante/Actualizar" <button type="button" class="btn btn-primary">Modificar</button></a>
 </center>
