
@{
    ViewData["Title"] = "BuscarCoordinador";
    Layout = "_LayoutSGPI";
}

<h1>Buscar Coordinador</h1>

<form action="" class="form-inline justify-content-center">
        <ul class="nav nav-pills" class="form">
            <li class="nav-item">
                <a class="nav-link  active " aria-current="page" href="#">Buscar</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/Coordinador/Programas">Programas </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/Coordinador/Homologacion">Homologacion</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/Coordinador/Reporte">Reportes</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/Coordinador/Entrevista">Entrevista</a>
            </li>
        </ul>
 
</form>
<br/>
<br/>

    <label> Buscar Coordinador </label>
<center>
    <div class="input-group">
            <br />
            <input  type="text" class="form-control col-sm-3" id="nombreusuariotxt" required />

            <button type="submit" class="btn btn-primary mb-3">buscar</button>
    </div>
</center>
    <br />
    <center>
        <table border="5">
            <tr>
                <td colspan="2">Nombre </td>
                <td colspan="2"> Apellido </td>
                <td colspan="2"> Genero  </td>
                <td colspan="2"> Documento </td>
                <td colspan="2">Programa</td>
                <td colspan="2">Rol</td>
                <td colspan="2">Correo</td>

            <tr>
                <td colspan="2"> Yessica</td>
                <td colspan="2"> Mosquera </td>
                <td colspan="2"> Femenino  </td>
                <td colspan="2"> 1001683294</td>
                <td colspan="2"> Tecnologia en Sistemas</td>
                <td colspan="2"> Estudiante</td>
                <td colspan="2"> Myessicayulieth8@gmail.com</td>


            <tr>



        </table>
    </center>
 
   <center>

    <br />
    <button type="submit" class="btn btn-primary">Eliminar</button>

    <br />

    <a href="/Administrador/Login" <button type="submit" class="btn btn-link">Cerrar sesion</button> </a>

    <center/>
    
