
@{
    ViewData["Title"] = "Entrevista";
    Layout = "_LayoutSGPI";
}

<h1>Entrevista</h1>
<form action="" class="form-inline justify-content-center">
    <ul class="nav nav-pills" class="form">
        <li class="nav-item">
            <a class="nav-link   " href="/Coordinador/BuscarCoordinador">Buscar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Coordinador/Programas">Programas </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/Coordinador/Homologacion">Homologacion</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Coordinador/Reportes">Reportes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/Coordinador/Entrevista">Entrevista</a>
        </li>
    </ul>

</form>
<br />
<center>
    <div class="input-group">
        <br />
        <input type="text" class="form-control col-sm-3" id="nombreusuariotxt" required />

        <button type="submit" class="btn btn-primary mb-3">buscar</button>
    </div>

    <br />
</center>
<br />


<label>Nombre</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>Apellido</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<label>Programa</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>Documento</label>
<div class="input-group">
    <br />
    <input type="text" value="Yessica" class="form-control col-sm-3" id="buscarusuariotxt" required />&nbsp;&nbsp;
    <br />
    <input type="text" value="Mosquera" class="form-control col-sm-3" id="buscarusuariotxt" required />&nbsp;&nbsp;
    <br />
    <input type="text" value="Tecnologia en sistemas" class="form-control col-sm-3" id="buscarusuariotxt" required />&nbsp;&nbsp;
    <br />
    <input type="text" value="1001683294" class="form-control col-sm-3" id="buscarusuariotxt" required />&nbsp;&nbsp;



</div>
<br/>
<center>
    <button type="button" class="btn btn-primary">Ingresar</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-primary">Volver</button>

    <br />
</center>

