
@{
    ViewData["Title"] = "Homologacion";
    Layout = "_LayoutSGPI";
}

<h1>Homologacion</h1>
<form action="" class="form-inline justify-content-center">
    <ul class="nav nav-pills" class="form">
        <li class="nav-item">
            <a class="nav-link   "href="/Coordinador/BuscarCoordinador">Buscar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Coordinador/Programas">Programas </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/Coordinador/Homologacion">Homologacion</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Coordinador/Reportes">Reportes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Coordinador/Entrevista">Entrevista</a>
        </li>
    </ul>

</form>
<br/>
<br/>
<label> Homologacion</label>
<center>
    <div class="input-group">
        <br />
        <input type="text" class="form-control col-sm-3" id="nombreusuariotxt" required />

        <button type="submit" class="btn btn-primary mb-3">buscar</button>
    </div>

    <br />
</center>

<label>Nombre</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>Apellido</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<label>Programa</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>Documento</label>
<div class="input-group">
    <br />
    <input type="text" value="Yessica" class="form-control col-sm-3" id="buscarusuariotxt" required />&nbsp;&nbsp;
    <br />
    <input type="text" value="Mosquera" class="form-control col-sm-3" id="buscarusuariotxt" required />&nbsp;&nbsp;
    <br />
    <input type="text" value="Tecnologia en sistemas" class="form-control col-sm-3" id="buscarusuariotxt" required />&nbsp;&nbsp;
    <br />
    <input type="text" value="1001683294" class="form-control col-sm-3" id="buscarusuariotxt" required />&nbsp;&nbsp;



</div>

<br/>

<table border="5">
    <tr>
        <td colspan="2">No </td>
        <td colspan="2"> Codido </td>
        <td colspan="2"> Nombre Asignatura </td>
        <td colspan="2"> Creditos </td>
        <td colspan="2">Nivel</td>
        <td colspan="2">Programa</td>
        <td colspan="2">Codigo Asignatura Hom</td>
        <td colspan="2">Creditos Homologados</td>
        <td colspan="2">Nota</td>

    <tr>
        <td colspan="2"> 1</td>
        <td colspan="2">63324</td>
        <td colspan="2"> Calculo</td>
        <td colspan="2"> 5 </td>
        <td colspan="2"> 3</td>
        <td colspan="2"> Tecnologia en Sistemas</td>
        <td colspan="2"> 528788</td>
        <td colspan="2"> 3</td>
        <td colspan="2"> 4.0</td>




    <tr>
        <br/>


</table>

<br/>

<center>
    <button type="button" class="btn btn-primary">Enviar</button>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-primary">Cancelar</button>

    <br />
</center>

<br />