
@{
    ViewData["Title"] = "Programas";
    Layout = "_LayoutSGPI";
}

<h1>Programas</h1>
<form action="" class="form-inline justify-content-center">
    <ul class="nav nav-pills" class="form">
        <li class="nav-item">
            <a class="nav-link " href="/Coordinador/BuscarCoordinador">Buscar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/Coordinador/Programas">Programas </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/Coordinador/Homologacion">Homologacion</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Coordinador/Reportes">Reportes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Coordinador/Entrevista">Entrevista</a>
        </li>
    </ul>

</form>

<br />
<label>Periodo Academico</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<label>Agregar Programa</label>

<br />
<br />
<div class="input-group">
    <br />
    <input type="text" value="2022/2" class="form-control col-sm-5" id="numerodocumentousuariotxt" required />&nbsp;
    <select class="form-select col-sm-5" aria-label="Default select example">
        <option selected></option>
        <option value="1">Mestria en Gestion.TI</option>
        <option value="2">Especializacion.SI</option>
        <option value="3">Maestria Ambiental</option>
    </select>

    <br />
</div>
<br/>
<br />
<table border="5">
    <tr>
        <td colspan="2">fecha </td>
        <td colspan="2"> Aula </td>
        <td colspan="2"> Asignatura  </td>
        <td colspan="2"> Codigo Asignatura </td>
        <td colspan="2">opcion</td>

    <tr>
        <td colspan="2"> 2022/05</td>
        <td colspan="2"> 5-207 </td>
        <td colspan="2"> Electiva 1  </td>
        <td colspan="2"> 23467</td>
        <td colspan="2"> <button type="button" class="btn btn-primary">Agregar</button></td>
       
    <tr>



</table>
        
<br/>
