
@{
    ViewData["Title"] = "EliminarUsuario";
    Layout = "_LayoutSGPI";
}

<h1>Editar Usuario</h1>
<form action="" class="form-inline justify-content-center">
    <center>
        <ul class="nav nav-pills" class="form">
            <li class="nav-item">
                <a class="nav-link " href="/Administrador/CrearUsuario">Crear Usuario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Administrador/BuscarUsuario">Buscar Usuario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Administrador/EliminarUsuario">Eliminar Usuario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Editar Usuario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Reportes</a>
            </li>
        </ul>
    </center>
</form>
<br />
<!--Creo la columnas-->
<div class="container text-center">
    <div class="row align-items-start">
        <div class="col">
            <!--Aca agregamos el select-->
            <label>Tipo de Documento</label>
            <br/>
            <select class="form-select col-sm-12" aria-label="Default select example">
                <option selected></option>
                <option value="1">Cedula de Ciudadania</option>
                <option value="2">Tarjeta de Extranjeria</option>
                <option value="3">Ninguno</option>
            </select>
            <br/>
            <label>Nombre</label>
            <br/>
            <input type="text" class="form-control col-sm-12" id="nombreusuariotxt" required />
            <br/>
            <label>Apellidos</label>
            <br/>
            <input type="text" class="form-control col-sm-12" id="apellidousuariotxt" required />
        </div>
        <div class="col">
            <label>Numero de Documento</label>
            <br/>
            <input type="text" class="form-control col-sm-12" id="numerodocumentousuariotxt" required />
            <br/>
            <label>Correo Electronico</label>
            <input type="text" class="form-control col-sm-12" id="correoelectronicousuariotxt" required />
            <label>Rol</label>
            <br/>
            <select class="form-select col-sm-12" aria-label="Default select example">
                <option selected></option>
                <option value="1">Administrador</option>
                <option value="2">Coordinador</option>
                <option value="3">Estudiante</option>
            </select>

        </div>
        <div class="col">
            <label>Genero</label>
            <br/>
            <select class="form-select col-sm-12" aria-label="Default select example">
                <option selected></option>
                <option value="1">Masculino</option>
                <option value="2">Femenino</option>
                <option value="3">Otros </option>
            </select>
            <br/>
        </div>
        <div class="col">
            <label>Programas</label>
            <br/>
            <select class="form-select col-sm-12" aria-label="Default select example">
                <option selected></option>
                <option value="1">Maestria en Gestion. TI</option>
                <option value="2">Especializacion. SI</option>
                <option value="3">Maestria en Medio Amb </option>
            </select>
            <br/>
        </div>
    </div>
           <br/>

    <button type="button" class="btn btn-primary">Editar</button>

    <br/>
       
         
   <a href="/Administrador/Login"<button type="button" class="btn btn-link">Cerrar Sesion</button></a>
       
           
        
        
    </div>
</center>
