
@{
    ViewData["Title"] = "OlvidarContrasena";
    Layout = "_LayoutSGPI";
}

<h1>Olvidar Contraseña</h1>
<form>
    <center>
        <div class="form-group">
            <label for="usuariotxt">Usuario</label>
            <input type="text" class="form-control col-sm-4" id="usuariotxt" requiered />
        </div>

        <div class="form-group">
            <label for="correoelectronico.txt">Correo Electronico</label>
            <input type="correoelectronico" class="form-control col-sm-4" id="correoelectronicotxt" requiered />
        </div>

        <a href="/Administrador/Login" <button type="button" class="btn btn-outline-danger" id="ingresarbtn type" submit>Enviar</button></a>
        <br/>
        <br/>
        <a href="/Administrador/Login" <button type="button" class="btn btn-outline-primary" id="ingresarbtn type" submit>Volver</button></a>
    </center>
</form>

